# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\极客时间\java训练营\JAVA-000\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
